@charset "utf-8";

html {
  /* ブラウザのデフォルトが16px */
  /* 1emが10pxになるように調整 */
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  line-height: 1.5;
  color: rgb(73, 72, 72);
  font-size: 1.6rem;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  text-align: center;

  background-image: url(../img/manuel.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header,
footer,
h1,
h2,
h3,
p,
div,
.container01,
.filler01 {
  margin: 0.2em 0 0 0;
  padding: 0.1em;
}

/*****************************/
/* 見出し（みだし）           */
/*****************************/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 10;
}

h1 {
  margin: 0;
  font: 2em Rajdhani, "Noto Sans JP";
  color: white;

  background: linear-gradient(
    90deg,
    rgba(25, 45, 65, 0.95),
    rgba(70, 105, 125, 0.9),
    rgba(25, 45, 65, 0.95)
  );
}

h2 {
  padding-left: 0.5em;
  border-left: solid 0.5em darkgray;
  text-align: left;
}

/*****************************/
/* ページ                    */
/*****************************/
main {
  z-index: 20;
  margin-top: 7em;
  overflow: auto;
}

/*****************************/
/* セクション                 */
/*****************************/
.container {
  width: 72%;
  margin: 0 auto;
  padding-left: 0.5em;

  border-radius: 0.5em 1.5em;

  background-color: rgba(245, 245, 245, 0.75);

  box-shadow: 0 0 0.5em rgba(73, 72, 72, 0.8);
}

main > p {
  font: 1.2em bold;
}

/*****************************/
/* アンカー(anchor)           */
/*****************************/
a {
  color: black;
  font-weight: 900;
  text-decoration: none;
}

/* mouseover */
a:hover {
  opacity: 0.6;
  filter: grayscale(100%);
}

/*****************************/
/* container item            */
/*****************************/
.sub_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 0.7em;
}

.item01 {
  position: relative;
  width: 6em;
  height: 9em;
  margin: 0;
  line-height: 1em;
  overflow: hidden;
  opacity: 0;
}

.item02 {
  position: relative;
  width: 6em;
  height: 12em;
  margin: 0;
  line-height: 1em;
  overflow: hidden;
  opacity: 0;
}

.item01 img,
.item02 img {
  width: 6em;
  height: auto;
}

.item01 .img_fit {
  width: auto;
  height: 6em;
  overflow: hidden;
}

/*****************************/
/* アニメーション             */
/*****************************/
.fade-in {
  animation: popUp 0.8s ease-out forwards;
}

@keyframes popUp {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.8);
  }

  70% {
    opacity: 1;
    transform: translateY(-8px) scale(1.05);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/*****************************/
/* フッター                   */
/*****************************/
footer > p {
  position: relative;
  width: 100%;
  margin-top: 0.5em;
  padding: 1px;

  color: whitesmoke;
  font: 1em Rajdhani;
  text-align: center;

  background: rgba(25, 45, 65, 0.85);
}

/*****************************/
/* レスポンシブ対応           */
/*****************************/
@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }
  main {
    margin-top: 6em;
  }
  .container {
    width: 90%;
  }
}
